body {
  margin: 0;
}

* {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .todo {
    cursor: pointer;
    position: relative;
    padding: 12px;
    text-align: center;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }

  .todo:nth-child(odd) {
    background: #f9f9f9;
  }

  .todo:hover {
    background: #ddd;
  }

  .todo.complete {
    background: rgb(126, 189, 101);
    color: #fff;
    text-decoration: line-through;
  }

  .todo.complete::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  .header {
    background-color: #6e6e6e;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
  }

  span {
    position: relative;
    top: 10px;
    padding: 10px;
    width: 49%;
    background: #d9d9d9;
    color: rgb(65, 64, 64);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    border-color: #555;
  }

  #addBtn {
    margin-right: 1%;
  }

  #clearBtn {
    margin-left: 1%;
  }

  span#addBtn:hover {
    background-color: #bbb;
    color: rgb(0, 0, 0);
  }

  span#clearBtn:hover {
    background-color: rgb(218, 99, 99);
    color: rgb(0, 0, 0);
  }